body {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.counter__addButton {
  font-family: "Manrope", sans-serif;
  width: 500px;
  height: 100px;
  background: #4191ff;
  border-radius: 20px;
  border: 1px solid #4191ff;
}
